* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* /* html, body, canvas
{
  height: 100vh;
  width: 100vw;
} */
body 
{
  background-color: linear-gradient(to top, #7e7d7d, #fff);
  overflow: hidden;
} 